{% extends "base.html" %}
{% block content %}

<div class="container" style="margin-top: 90px; font-family: Satisfy;
  font-size:100px;
  text-align:center;
  color:black;
  padding:1%;">
    <h1 class="Gallery">Image Gallery</h1><hr>
<div id="gallery" class="container-fluid">
  <img src="https://source.unsplash.com/1600x1200?female,portrait" class="img-responsive">
  <img src="https://source.unsplash.com/1024x768?female,portrait" class="img-responsive">
   <img src="https://source.unsplash.com/1366x768?female,portrait" class="img-responsive">
  <img src="https://source.unsplash.com/1920x1080?female,portrait" class="img-responsive">
  <img src="https://source.unsplash.com/640x360?female,portrait" class="img-responsive">
<img src="https://source.unsplash.com/320x640?female,portrait" class="img-responsive">
  <img src="https://source.unsplash.com/1200x1600?female,portrait" class="card img-responsive">
  <img src="https://source.unsplash.com/800x600?female,portrait" class="img-responsive">
  <img src="https://source.unsplash.com/600x800?female,portrait" class="img-responsive">
  <img src="https://source.unsplash.com/400x600?female,portrait" class="img-responsive">
  <img src="https://source.unsplash.com/600x400?female,portrait" class="img-responsive">
<img src="https://source.unsplash.com/1100x1600?female,portrait" class="img-responsive">
<img src="https://source.unsplash.com/1600x1100?female,portrait" class="img-responsive">
<img src="https://source.unsplash.com/992x768?female,portrait" class="img-responsive">
<img src="https://source.unsplash.com/768x992?female,portrait" class="img-responsive">
    <img src="https://source.unsplash.com/768x992?female,portrait" class="img-responsive">
    <img src="https://source.unsplash.com/1268x992?female,portrait" class="img-responsive">
    <img src="https://source.unsplash.com/768x992?female,portrait" class="img-responsive">
    <img src="https://source.unsplash.com/318x992?female,portrait" class="img-responsive">
    <img src="https://source.unsplash.com/468x592?female,portrait" class="img-responsive">
    <img src="https://source.unsplash.com/2318x2092?female,portrait" class="img-responsive">
    <img src="https://source.unsplash.com/1768x1992?female,portrait" class="img-responsive">
    <img src="https://source.unsplash.com/2768x3292?female,portrait" class="img-responsive">
    <img src="https://source.unsplash.com/1168x1992?female,portrait" class="img-responsive">
    <img src="https://source.unsplash.com/768x992?female,portrait" class="img-responsive">


</div>
    </div>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
      </div>
    </div>

  </div>
</div>

{% endblock %}