{% extends "base.html" %}
{% block content %}
<div class="container pt-5">
  <div class="jumbotron">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="text-center">Big Bang,</h1>
        <h2 class="text-center"><em>Te contamos un poco sobre nosotros...</em></h2>
        <div class="thumbnail"><img src="https://aplygo-saas.s3.amazonaws.com/media/istock-1197640540-chica-flequi-y-chico-ites-portada_CT9qLpK.jpg" width="100%">
          <div class="caption text-center">Programadores web</div>
        </div>
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
          <h3 class="pt-3">Big bang, de que trata:</h3>
          <p class=>El desarrollo que han tenido las tecnologías en la red en la última década han hecho que éstas sean imprescindibles en cualquier negocio. Para cualquier empresa o institución, la página web sirve de primera toma de contacto entre el usuario o cliente y la empresa en cuestión. Es por esto, que es fundamental que las personas sepan las muchas oportunidades que pueden llegar a ofrecer las nuevas tecnologías.
Dentro de este contexto, entran las redes sociales, nuestro TFG tiene como finalidad el desarrollo de una herramienta donde cada usuario, pueda expresarse a través de fotos, añadiendo una breve descripción.
Y si el usuario quiere, puede privatizar su contenido, seleccionando privadas, las publicaciones que considere.

</p>
          <blockquote>
            <p>El equipo de desarrollo de esta página web somos dos personas. <br>Christian Armijos Quezada y Domenica Landinez Mendoza. Somos estudiantes
            de programacion multiplataforma en el centro cultural salmantino. Estamos haciendo el trabajo de fin de curso para mostrar todo lo que hemos aprendido en clases y en las prácticas. </p>
            <footer><cite>Madrid-España 23/06/2022</cite></footer>
          </blockquote>
          <h3>Github <a href="https://github.com/ChristianAQ" target="_blank">Christian Armijos</a></h3>
            <h3>Github <a href="https://github.com/domee95/" target="_blank">Domenica Landines</a></h3>
        </div>
      </div>
    </div>
  </div>

</div>
{% include "includes/footer.html" %}
{% endblock %}