{% extends "base.html" %}
{% block content %}

    <div class="">
<div class="section full-height z-bigger">
    <h1 class="text-center p-3" style="
    font-size: 4vw;
    line-height: 1;
    font-weight: 900;
">Elige tu inspiración</h1>
  <ul class="case-study-wrapper">
    <li class="case-study-name">
      <a href="{% url 'gallery_female' %}" class="hover-target">style</a>
    </li>
    <li class="case-study-name">
      <a href="{% url 'gallery_female' %}" class="hover-target">hairstyle</a>
    </li>
    <li class="case-study-name">
      <a href="{% url 'gallery_female' %}" class="hover-target">nature</a>
    </li>
    <li class="case-study-name">
      <a href="{% url 'gallery_female' %}" class="hover-target">outfits</a>
    </li>
  </ul>
  <ul class="case-study-images">
    <li>
      <div class="img-hero-background">
        <img src="http://www.ivang-design.com/svg-load/parallax/light.jpg" alt="">
      </div>
      <div class="case-study-title">graphic design, interaction</div>
    </li>
    <li>
      <div class="img-hero-background">
        <img src="http://www.ivang-design.com/svg-load/parallax/flare.jpg" alt="">
      </div>
      <div class="case-study-title">advertising, art direction</div>
    </li>
    <li>
      <div class="img-hero-background">
        <img src="http://www.ivang-design.com/svg-load/parallax/nature.jpg" alt="">
      </div>
      <div class="case-study-title">photography, retouching</div>
    </li>
    <li>
      <div class="img-hero-background">
        <img src="http://www.ivang-design.com/svg-load/parallax/fire.jpg" alt="">
      </div>
      <div class="case-study-title">photography, advertising</div>
    </li>
  </ul>
</div>
    </div>

<!-- Page cursor
================================================== -->

<div class='cursor' id="cursor"></div>
<div class='cursor2' id="cursor2"></div>
<div class='cursor3' id="cursor3"></div>

{% include "includes/footer.html" %}

{% endblock %}