{% extends "base.html" %}
{% block body %}
    <div class="section ">
        <div class="hero-section">
            <div class="about-text hover-target"><a style="color: #ffeba7" href="{% url 'about' %}">about</a></div>
            <div class="contact-text hover-target"><a style="color: #ffeba7" href="{% url 'contact' %}">contact</a></div>
            <div class="section-center">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-12 text-center">
                            <h1>Inspírate<br>a lo grande</h1>
                        </div>
                        <div class="col-12 text-center mb-2">
                            <div class="dancing"><span>photography</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--Incluimos lo que va debajo del home para optimizar-->

    {% include "photos/content_home.html" %}

    </div>
{% endblock %}

